<div class='col-md-4 col-md-offset-4'>
  <div class='well'>

    <div class='row'>

      <div class='col-md-6'>
        <h3>Sign in</h3>
      </div>

      <div class='col-md-6 text-right' style='padding-top: 7px'>
        Not registered?<br>
        <%= link_to 'Sign up', signup_path %>
      </div>

    </div><br>

    <%= form_for :user, url: sessions_path do |f| %>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.email_field :email,
          { class: 'form-control', autofocus: true } %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit "Sign in", class: 'btn btn-primary pull-right' %>

    <% end %>
    <br><br>

  </div>
</div>



