<div class='container'>

  <h2>New Article <small>by <%= @user.first_name %> <%= @user.last_name %></small></h2>


  <%= form_for @article, url: user_articles_path(@user) do |f| %>
    <%= f.label :title %> <%= f.text_field :title, autofocus: "true" %>
    <br><br>
    <%= f.text_area :content, size: "60x12" %>
    <br>
    <%= f.submit "Post" %>
  <% end %>

</div>