<div class='container'><br>

  <div class='col-md-6'>

    <%= link_to 'All articles', articles_path %>
    <br>

    <h3><%= @article.title %></h3>
    <h4>by
      <a href="<%= user_path(@article.user) %>">
        <%= @article.user.first_name %> <%= @article.user.last_name %>
      </a>
    </h4>

    <hr>
      <p><%= @article.content %></p>
    <hr>

    <% if current_user.id == @article.user.id %>
      <div class='row'>
        <div class='col-md-2'>
          <%= button_to 'Edit article', edit_article_path(@article),
              { method: :get, class: 'btn btn-primary' } %>
        </div>
        <div class='col-md-2'>
          <%= button_to 'Delete article', article_path(@article),
              { method: :delete, data: { confirm: 'Are you sure?' },
                 class: 'btn btn-danger' } %>
        </div>
      </div>
    <% end %>

  </div>
  <br>
  <div class='col-md-6'>
    <!-- inserting a row gives me a smaller set of 12 columns
    so I can get the spacing I want -->
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h3>Comments</h3>

        <%= form_for [@article, Comment.new] do |f| %>

            <%= f.text_area :content, :rows => 3, :cols => 58 %>
            <br>
            <div class='row'>
              <div class='col-md-4 col-md-offset-8'>
                <%= f.submit "Add comment", class: 'btn btn-primary' %>
              </div>
            </div>

        <% end %><br>

        <% @comments.each do |comment| %>
          <p>
            <%= comment.content %> - <%= time_ago_in_words comment.created_at %> ago by <strong><%= User.find(comment.user_id).email %></strong>
          </p>
        <% end %>

      </div>
    </div>
  </div>

</div>