<h2>New User</h2>

<% if @errors %>
  <p>Fix these problems with your registration:</p>
  <ul>
    <% @errors.each do |error, mesg| %>
      <li><%= error %>: <%= mesg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, url: users_path do |f| %>
  <%= f.label "First name: " %>
  <br>
  <%= f.text_field :first_name %>
  <br>
  <%= f.label "Last name: " %>
  <br>
  <%= f.text_field :last_name %>
  <br>
  <%= f.label "Email: " %>
  <br>
  <%= f.text_field :email %>
  <br>
  <%= f.label "Confirm email: " %>
  <br>
  <%= f.text_field :email_confirmation %>
  <br>
  <%= f.label "Password: " %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label "Confirm password: " %>
  <br>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "Sign up" %>
<% end %>
<br>
<%= link_to "Already registered?  Log in here", login_path %>