<h2>New User</h2>

<%= form_for @user, url: users_path do |f| %>
  <%= f.label "Email: " %>
  <br>
  <%= f.text_field :email %>
  <br>
  <%= f.label "Confirm email: " %>
  <br>
  <%= f.text_field :email_confirmation %>
  <br>
  <%= f.label "Password: " %>
  <br>
  <%= f.text_field :password, type: "password" %>
  <br>
  <%= f.label "Confirm password: " %>
  <br>
  <%= f.text_field :password_confirmation, type: "password" %>
  <br><br>
  <%= f.submit "Sign up" %>
<% end %>