<div class='container'>

    <div class='col-md-3'><br>

      <%= image_tag @user.avatar.url(:thumb) %>
      <h3> <%= @user.first_name %> <%= @user.last_name %> </h3>
      <h4> <%= @user.email %> </h4>

      <% if current_user.id == @user.id %>

        <%= link_to 'Edit profile', edit_user_path(@user) %>
        <br><br><br>

        <%= button_to 'Delete my account', user_path(@user),
            { method: :delete, data: { confirm: "Are you sure?" },
              class: 'alert alert-danger' } %>

      <% end %>

    </div>

    <div class='col-md-9'><br>

      <% if current_user.id == @user.id %>
        <%= link_to 'Post new article', new_user_article_path(@user) %>&nbsp|&nbsp
      <% end %>
      <%= link_to 'All articles', articles_path %>
      <br><br>

      <h4> Articles by <%= @user.first_name %> <%= @user.last_name %> </h4>
      <hr>
      <% @user.articles.each do |article| %>
        <ul class='list-unstyled'>
          <li> <%= link_to article.title, article_path(article) %> </li>
        </ul>
      <% end %>
      <hr>
    </div>

</div>