<div class='container'>

  <% if current_user.id == @user.id %>

    <div class='col-md-3'>
      <br><br>
      <%= image_tag @user.avatar.url(:thumb) %>
      <h3> <%= @user.first_name %> <%= @user.last_name %> </h3>
      <h4> <%= @user.email %> </h4>
      <%= link_to 'Edit profile', edit_user_path(@user) %>
      <br><br><br>
      <%= button_to 'Delete my account', user_path(@user),
          { method: :delete, data: { confirm: "Are you sure?" },
            class: 'alert alert-danger' } %>
    </div>

    <div class='col-md-9'>
      <br><br>
      <%= link_to 'New article', new_user_article_path(@user) %>&nbsp|&nbsp
      <%= link_to 'All articles', articles_path %>
      <h4> My articles: </h4>
      <hr>
      <% @user.articles.each do |article| %>
        <ul>
          <li> <%= link_to article.title, article_path(article) %> </li>
        </ul>
      <% end %>
      <hr>
    </div>

  <% else %>

    <h2>You are not authorized to access this page</h2>

  <% end %>

</div>