<div class='container'>

  <div class='col-md-6'>
    <!-- nest a row so I can put the title and cancel link on the same line -->
    <div class='row'>

      <div class='col-md-8'>
        <% if params[:action] == 'new' || params[:action] == 'create' %>
          <h2>New article</h2>
        <% else %>
          <h2>Edit article</h2>
        <% end %>
      </div>
      <!-- padding is necessary to vertically align the link with the headline -->
      <div class='col-md-4 text-right' style='padding-top: 34px'>
        <%= link_to 'Cancel', :back %>
      </div>

    </div>

    <%= form_for article,
        url: (new_article ? user_articles_path : article_path) do |f| %>

      <div clas='form-group'>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', autofocus: "true"  %>
      </div>
      <br>

      <div class='form-group'>
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', size: "60x12" %>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <%= f.submit class: 'btn btn-primary pull-right' %>
        </div>
      </div>

    <% end %>

  </div>

</div>